<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bink.dao.BlogSortMapper">
    <!--根据博客id查询分类信息-->
    <select id="getSortByBid" resultType="BlogSort">
        SELECT * from s_blog_sort where bid=#{bid}
    </select>
</mapper>